<p style="color: green"><%= notice %></p>

<div class="d-flex flex-column mt-5 text-white">
  <h1 class="text-center m-5 ">Tipos de naves espaciales</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @categories.each do |category| %>
      <div class="col">
        <div class="card bg-dark ">
          <img src="<%= category.img %>" class="card-img" alt="Nave" style="height: 250px">
          <div class="card-img-overlay">
            <h5 class="card-title"><%= category.name %></h5>
            <p>
              <%= link_to "Ver naves", category, class: "card-text text-decoration-none  text-info" %>
            </p>
          </div>
        </div>      
      </div>
    <% end %>
  </div>
  
</div>

